	<head>
		
	<meta charset="utf-8">
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700" rel="stylesheet">
	<link href="Champion.css" rel="stylesheet" type="text/css">
	
	</head>
	

	<header>
		<nav class="nav"><a href="../" class="return">All Champions</a></nav>
	</header>
	
	<body>
		<div id="ChampionInfo">
			<img src="/Champions/Champion-Images/{{image}}" alt="{{name}}" class="image border"/>
			<h1 class="Name border">{{name}}</h1>
			<p class="Lore border">{{lore}}</p>
		</div>
		
		<div class ="Moves-Container">
			<article id = "passive-container" class="move">
				<div class="border">
					<p id = "passive">
						Passive
					</p>
				</div>
				
				<div class="description border" id="passiveborder">
					<p class = "move-name">{{moves.passive.movename}}</p>
					<p class="move-desc">
						{{moves.passive.info.desc}}
						<br></br>
						<br>{{moves.passive.info.cool}}</br>
						<br></br>
						<br>{{moves.passive.info.mana}}</br>
					</p>
				</div>
			</article>
		</div>
			
		<h2 id="ChampionMove" class="border">Champion Name's Move Set</h2>
		

		<main class="Moves-Container">
			<article class="move">
				<div class="key border">
					<p class="keystroke">
						Q
					</p>
				</div>
				
				<div class="description border">
					<p class = "move-name">{{moves.q.movename}}</p> <!--Replace with the move's name-->
					<p class="move-desc">
						{{moves.q.info.desc}}
						<br></br>
						<br>{{moves.q.info.cool}}</br>
						<br></br>
						<br>{{moves.q.info.mana}}</br>
					</p>
				</div>
			</article>
			
			<article class="move">
				<div class="key border">
					<p class="keystroke">
						W
					</p>
				</div>
				
				<div class="description border">
					<p class = "move-name">{{moves.w.movename}}</p><!--Replace with the move's name-->
					<p class="move-desc">
						{{moves.w.info.desc}}
						<br></br>
						<br>{{moves.w.info.cool}}</br>
						<br></br>
						<br>{{moves.w.info.mana}}</br>
					</p>
				</div>
			</article>
			
			<article class="move">
				<div class="key border">
					<p class="keystroke">
						E
					</p>
				</div>
				
				<div class="description border">
					<p class = "move-name">{{moves.e.movename}}</p><!--Replace with the move's name-->
					<p class="move-desc">
						{{moves.e.info.desc}}
						<br></br>
						<br>{{moves.e.info.cool}}</br>
						<br></br>
						<br>{{moves.e.info.mana}}</br>
					</p>
				</div>
			</article>
			
			<article class="move">
				<div class="key border">
					<p class="keystroke">
						R
					</p>
				</div>
				
				<div class="description border">
					<p class = "move-name">{{moves.r.movename}}</p><!--Replace with the move's name-->
					<p class="move-desc">
						{{moves.r.info.desc}}
						<br></br>
						<br>{{moves.r.info.cool}}</br>
						<br></br>
						<br>{{moves.r.info.mana}}</br>
					</p>
				</div>
			</article>
			
		</main>
    </body>